<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>AU_synth_bass</string>
    <key>CFBundleIdentifier</key>
    <string>com.dev.AU_synth_bass</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AU_synth_bass</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 2026 AU_synth_bass. All rights reserved.</string>
    <key>AudioComponents</key>
    <array>
        <dict>
            <key>description</key>
            <string>FM Heavy Neurobass Synthesizer (AU)</string>
            <key>factoryFunction</key>
            <string>AUEntryPoint</string>
            <key>manufacturer</key>
            <string>DEV0</string>
            <key>name</key>
            <string>AU_synth_bass</string>
            <key>subtype</key>
            <string>synb</string>
            <key>type</key>
            <string>synth</string>
            <key>version</key>
            <string>1.0.0</string>
        </dict>
    </array>
    <key>NSPrincipalClass</key>
    <string>AU_synth_bass</string>
</dict>
</plist>
